<header>
<div id="header-layout1" class="header-style1">
<div class="main-menu-area bg-primarytextcolor header-menu-fixed" id="sticker">
<div class="container">
<div class="row no-gutters d-flex align-items-center">
<div class="col-lg-2 d-none d-lg-block">
<div class="logo-area">
<a href="/">
<img src="{{ '/img/logo.png' | relative_url }}" alt="Siglo Zero Logo" class="img-fluid">
</a>
</div>
</div>
<div class="col-xl-8 col-lg-7 position-static min-height-none">
<div class="ne-main-menu">
<nav id="dropdown">
<ul>
<li class="active"><a href="/">Inicio</a></li>

<li>
<a href="#">Local</a>
<ul class="ne-dropdown-menu">
<li><a href="/local/?sub=mi-ciudad">Mi Ciudad</a></li>
<li><a href="/local/?sub=municipal">Municipal</a></li>
</ul>
</li>

<li>
<a href="#">Estado</a>
<ul class="ne-dropdown-menu">
<li><a href="/estado/?sub=gobierno-estado">Gobierno del Estado</a></li>
<li><a href="/estado/?sub=congreso">Congreso</a></li>
</ul>
</li>

<li>
<a href="#">Nacional</a>
<ul class="ne-dropdown-menu">
<li><a href="/nacional/?sub=politica">Política</a></li>
<li><a href="/nacional/?sub=pais">País</a></li>
</ul>
</li>

<li>
<a href="#">Seguridad</a>
<ul class="ne-dropdown-menu">
<li><a href="/seguridad/?sub=policiaca">Policiaca</a></li>
<li><a href="/seguridad/?sub=accidentes">Accidentes</a></li>
</ul>
</li>

<li><a href="/opinion/">Opinión</a></li>
<li><a href="/columna/">Columna Política</a></li>

<li>
<a href="#">Ciencia y Tecnología</a>
<ul class="ne-dropdown-menu">
<li><a href="/ciencia-tecnologia/?sub=smartphones">Smartphones</a></li>
<li><a href="/ciencia-tecnologia/?sub=ia">IA</a></li>
<li><a href="/ciencia-tecnologia/?sub=apps">Apps</a></li>
</ul>
</li>

<li>
<a href="#">Magazine</a>
<ul class="ne-dropdown-menu">
<li><a href="/magazine/?sub=cine">Cine / Cartelera</a></li>
<li><a href="/magazine/?sub=moda">Moda</a></li>
<li><a href="/magazine/?sub=hogar">Hogar</a></li>
<li><a href="/magazine/?sub=vida-diaria">Vida Diaria</a></li>
<li><a href="/magazine/?sub=salud">Salud</a></li>
<li><a href="/magazine/?sub=cocina">Cocina</a></li>
<li><a href="/magazine/?sub=horoscopos">Horóscopos</a></li>
<li><a href="/magazine/?sub=chismografo">Chismógrafo</a></li>
</ul>
</li>

<li><a href="/archive/">Archivo</a></li>
</ul>
</nav>
</div>
</div>
<div class="col-xl-2 col-lg-3 col-md-12 text-right position-static">
<div class="header-action-item">
<ul>
<li>
<form id="top-search-form" class="header-search-light">
<input type="text" class="search-input" placeholder="Buscar...." required="" style="display: none;">
<button class="search-button">
<i class="fa fa-search" aria-hidden="true"></i>
</button>
</form>
</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</header>